html,
body {
  width: 100%;
  overflow-y: hidden;
}

.main {
  min-height: 100vh;
}

.main .row .my-name {
  z-index: 1;
  text-align: center;
  width: 100vw;
  height: 40px;
  top: calc(50vh - 20px);
  font-weight: 600;
  font-size: 5rem;
  vertical-align: middle;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.main .row .col-3 {
  background: -webkit-gradient(linear, left bottom, left top, from(white));
  background: linear-gradient(to top, white);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main .row .next {
  bottom: 40px;
  height: 20px;
  width: 100vw;
  text-align: center;
  cursor: pointer;
  text-transform: initial;
  font-size: 2rem;
}

.main .previous {
  bottom: 40px;
  height: 20px;
  width: 100vw;
  text-align: center;
  cursor: pointer;
  text-transform: initial;
  font-size: 2rem;
}
